<header class="nav navbar-brand navbar-fixed-top">
  <nav>
    <%= link_to t("feastival"), root_path, class: "logo" %>
    <%= form_tag root_path, method: :get, class: "search" do %>
      <%= text_field_tag :search, params[:search],
        placeholder: t(".search_location") %>
      <%= button_tag type: "submit", class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-user"></span>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-envelope"></span>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-cog"></span>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <span class="glyphicon glyphicon-off"></span>
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".about"), page_path(page: "about") %></li>
        <li><%= link_to t(".help"), page_path(page: "help") %></li>
        <li><%= link_to t(".contact"), page_path(page: "contact") %></li>
      </ul>
    <% end %>
  </nav>
</header>
